
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url("../../public/img/body_bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    /*background-color: #D9E0D5;*/
}
.login-form {
    padding: 20px;
    padding-top: 70px;
    width: 450px;
    margin: 0 auto;

}
.login-form form{
    background-color: #E0E0E0;
    min-width: 300px;
    margin: auto;
    padding: 40px 60px;
    border-radius: 30px;
    border: 1px solid;
    box-shadow: 5px 5px 15px darkslategray;
}
.image{
    width: 50%;
    margin: 0 auto;
}
.img-fluid{
    border-radius: 100px;
    color: #504848;
    border: 1px solid;
}
.form-name{
    padding-top: 5px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #504848;
}
.sub-title{
    text-align: center;
    color: #504848;
    font-size: 20px;
}
.login-form .item{
    border-radius: 15px;
    line-height: 35px;
    margin: 10px 0px 15px 0px;
}
.login-form .login-account{
    border-radius: 15px;
    margin-bottom: 11px;
    width: 100px;
    font-weight: bold;
    background-color: #504848;
    color: white;
    padding: 8px;
}
.login-form .forgot-psw{
    padding-left: 15px;
    color: #0060B2;
    text-decoration: none;
}
.forgot-psw:hover{
    color: #4f5050;
}
.account{
    color: #4f5050;
}
.login-form .new-account{
    width: 70px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid;
    background-color: #E0E0E0;
    color: #504848;
    padding-left: 2px;
}
.icon{
    width: 30px;
}
.btn:hover{
    background-color: #463333;
    color: white;
}
